<h1>Listing tag_groups</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tag_groups.each do |tag_group| %>
  <tr>
    <td><%= link_to 'Show', tag_group %></td>
    <td><%= link_to 'Edit', edit_tag_group_path(tag_group) %></td>
    <td><%= link_to 'Destroy', tag_group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag group', new_tag_group_path %>
