/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

* {
    border:none;
    margin:0;
    padding:0;
}

ul {
    list-style-type:none;
}

html {
    font-family:serif, sans-serif;
    font-size:100%;
}

body {
    background: url('/assets/dark_circles.png');
    font:100 0.625em Arial, sans-serif;
}

.wrapper {
    margin: 12px auto 0;
    width:960px;
}

#header {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 3px 10px #000000;
    height: 100px;
    margin: 15px;
    padding: 4px;
}

.main_content {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 3px 10px #000000;
}
