<!DOCTYPE html>
<html>
<head>
  <title>Pricer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!--Header starts here -->
    <div id="header">
    
        
    </div>
    <!-- header ends here -->
<%= yield %>

</body>
</html>
